<html>
<body>
<h1>Use Instructions</h1>

<table>
	<tr>
		<td>Instructions</td>
		<td>{{data.instructions}}</td>
	</tr>
	<tr>
		<td>Notes</td>
		<td>{{data.notes}}</td>
	</tr>
</table>

<h1>Information</h1>

<table>
	<tr>
		<td>Name</td>
		<td>{{data.name}}</td>
	</tr>
	<tr>
		<td>Manufacturer</td>
		<td>{{data.manufacturer}}</td>
	</tr>
	<tr>
		<td>Model Number</td>
		<td>{{data.model}}</td>
	</tr>
	<tr>
		<td>Serial Number</td>
		<td>{{data.serial}}</td>
	</tr>
</table>

<h1>Consumable(s)</h1>

<table>
{% for item in data.consumables %}
    <tr>
    	<td>
    		<a href="{{ item.URL }}">{{ item.name }} - {{ item.resource }}</a>
    	</td>
    	<td>
    		{{ item.description }}
    	</td>
    </tr>
{% endfor %}
</table>

<h1>Documents(s)</h1>

<table>
{% for item in data.documents %}
    <tr>
    	<td>{{ item.name }}</td>
    	<td>
    		<a href="{{ item.URL }}">{{ item.resource }}</a>
    	</td>
    </tr>
{% endfor %}
</table>

</body>
</html>